/* Global Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	overflow-x: hidden;
	height: 100vh;
	background: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
}

/* Text Styles */
h1 {
	color: orange;
	font-size: 3rem;
	font-weight: 300;
}

b {
	font-weight: 550;
	color: #ee9400;
}

#version {
	font-size: 0.8rem;
	color: orange;
}

/* Header Styles */
header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 6rem;
	min-height: 6rem;
	width: 100%;
	background: linear-gradient(to bottom, #ffffff 0%, #e2e2e7 100%);
}

#header-div {
	height: 100%;
	width: 67rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#logo-div {
	display: flex;
	align-items: center;
}

img {
	width: 5rem;
	height: 5rem;
}

/* Main Styles */
main {
	margin-top: 2rem;
	width: 67rem;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
	/* Header Styles */
	#header-div {
		width: 100%;
	}
	
	h1 {
		font-size: 2rem;
	}

	/* Main Styles */
	main {
		width: 100vw;
	}
}